

<p id="notice"><%= notice %></p>
<div class="wrapper">
	<% if @all_meetings.nil? %>
		<h1>Plan your first meeting!</h1>
	<% else %>

		<% @all_meetings.each do |meeting| %>
		<div class="meeting_wrapper">
			<% if current_user == meeting.requestor %>

	          <h3><%= meeting.requestee.first_name %></h3>
	          <%= image_tag(meeting.requestee.avatar.url(:thumb)) %>
	        <% else %>
	          <strong><%= meeting.requestor.first_name %></strong>
	          <%= image_tag(meeting.requestor.avatar.url(:thumb)) %>
	        <% end %>
			

			<p>
			  <h4>Meeting time:
			  <%= meeting.meeting_time.strftime("%H:%M")%></h4>
			</p>

			<!-- <p>
			 	Accepted:
			  <%#= meeting.accepted %>
			</p> -->
		</div>

		<% end %>
	<% end %>
</div>
