<p id="notice"><%= notice %></p>

<p>
  <strong>Requestor:</strong>
  <%= @meeting.requestor.first_name %>
</p>

<p>
  <strong>Requestee:</strong>
  <%= @meeting.requestee.first_name %>
</p>

<p>
  <strong>Meeting time:</strong>
  <%= @meeting.meeting_time %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @meeting.accepted %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
