<header>
  <%= link_to 'Sign In', new_user_session_path %>
</header>
<div class="form_container">
<h2>Sign up for the Waitlist</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%#= f.label :first_name %><br />

    <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name"%>
  </div>

  <div class="form-group">
    <%#= f.label :last_name %><br />
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  </div>

  <div class="form-group">
    <%#= f.label :location %><br />
    <%= f.text_field :location, class: "form-control", placeholder: "Current City" %>
  </div>

  <div class="form-group">
    <%#= f.label :nationality %><br />
    <%= f.text_field :nationality, class: "form-control", placeholder: "Nationality" %>
  </div>

  <div class="form-group">
    <%#= f.label :bio %><br />
    <%= f.text_area :bio, class: "form-control", rows: 5, placeholder: "Tell us a little about you..." %>
  </div>

  <div class="form-group">
    <%#= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>
 
  <div class="form-group">
        <%#= f.label :avatar, class: 'col-sm-2 control-label'  %>
        
            <%= f.file_field :avatar %>
       <p class="help-block">Show us who you are!<br>Attach a well-lit photo, preferably where you are smiling :)</p>
  </div>
  
  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  </div>

  <div class="form-group">
    <%#= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-default"%>
  </div>
<% end %>
</div>
<%#= render "devise/shared/links" %>
