
<div class="show_topic">



<% if @current_user.topics.include? @topic %>
  <%= form_tag(controller: "topics", action: "unfavorite", method: "post") do %>
      <%= image_submit_tag("icons/heart", class: "favorited_heart_icon") %></p>
  <% end %>
<% else %>


  <%= form_tag(controller: "topics", action: "favorite", method: "post") do %>
      <%= image_submit_tag("icons/heart", class: "unfavorited_heart_icon") %></p>
  <% end %>
<% end %>

<h2 class="topic_title">
  <%= @topic.title %>
</h2>
<%#= image_tag "icons/hearticon", class: "topic_heart_icon" %>
<!-- <p>
  <strong>User:</strong>
  <%#= @topic.user.first_name %>
</p> -->

<!-- <p>
  <strong>Language:</strong>
  <%#= @topic.language.language %>
</p> -->

<!-- <h2>
  <strong>Level </strong>
  <%#= @topic.level %>
</h2> -->

<!-- <p>
  <strong>Tags:</strong>
  <%#= @topic.tags %>
</p>
 -->


<h6 class="topic_body">
  <%= @topic.body %>
</h6>

<!-- <p>
  <strong>Approved:</strong>
  <%#= @topic.approved %>
</p> -->

</div>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

