

<% if @current_user.topics.include? @topic %>
  <%= form_tag(controller: "topics", action: "unfavorite", method: "post") do %>
      <%= submit_tag "Unfavorite"%>
  <% end %>
<% else %>


  <%= form_tag(controller: "topics", action: "favorite", method: "post") do %>
      <%= submit_tag "Favorite"%>
  <% end %>
<% end %>
<p>
  <strong>User:</strong>
  <%= @topic.user.first_name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @topic.language.language %>
</p>

<p>
  <strong>Level:</strong>
  <%= @topic.level %>
</p>

<p>
  <strong>Tags:</strong>
  <%#= @topic.tags %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.body %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @topic.approved %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

