<html>
<head>
    <title>God View</title>
</head>
<body>



<h1>Manage Usersss</h1>

<table>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.email %></td>
            <td><%= user.approved? %></td>
            <td><%= user.role.name rescue nil %></td>
            <td><%#= link_to "Edit", edit_user_path(user) %></td>
        </tr>
    <% end %>
</table>
<!-- 
<%# @users.each do |user| %>
  <tr>
    <td><%#= user.first_name %></td>
    <td><%#= user.last_name %></td>
    <td><%#= user.admin %></td>
    <td><%#= link_to "Admin?", user_admin_path(user), method: :post if can? :manage, user %></td>
    <td><%#= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
<%# end %> -->

<br><br>
<!-- table header stuff here -->
<table>
    <% @users.each do |u| %>
      <tr>
        <td><%= link_to_if(can?(:read, User), "#{u.first_name}", user_path(u.id)) {} %></td>
        <td><%= "#{u.email}" %></td>
        <td><%= "#{u.role.name}" rescue nil %></td>
        <td><%= "#{u.approved}" rescue nil %></td>

        <td><%#= "#{u.roles.collect{|r| r.first_name}}" %></td>
        <td><%= link_to_if(can?(:edit, User), "Edit", edit_user_path(u.id)) {} %></td>
        <td><%= link_to_if(can?(:delete, u), image_tag("/images/delete_icon.gif"), u, :confirm => "Are you sure?", :method => :delete) {} %></td>
      </tr>
    <% end %>
</table>

    <div>
        <%= render partial: 'waitlist' %>

    </div>

</body>
</html>