<div class="wrapper">
  <div class="form_container">
    <h2 id="form-header">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group input-group-lg">
          <%#= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
        </div>


        <div class="form-group input-group-lg">
          <%#= f.label :email %><br />
          <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        </div>

        <div class="form-group input-group-lg">
          <%#= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        </div>

        <div>

        <% if devise_mapping.rememberable? -%>
         
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
         
        <% end %>
       </div>
        <div class="actions">
          <%= f.submit "Log in", class: "form-button" %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>