<<<<<<< HEAD
<%# if @fluent_languages == nil %>
  <%= form_for(@languages_user, method: :post) do |f| %>
      <% if @languages_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@languages_user.errors.count, "error") %> prohibited this language from being saved:</h2>
            <ul>
               <% @languages_user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
               <% end %>
            </ul>
        </div>
=======
<%= form_tag languages_user_path do %>
<% @languages_user.each do |f| %>
<%#= form_for(@languages_user, method: :post) do |f| %>
  <% if @languages_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@languages_user.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% @languages_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
>>>>>>> waitlist
      <% end %>
      <h3>What is your native language?</h3>
      <div class="field">
        <%= f.collection_select(:language_id, Language.order('language ASC').uniq, :id, :language) %><br>
        <%= f.number_field :level %>
      </div>
      <div class="field">
        <%= f.collection_select(:language_id, Language.order('language ASC').uniq, :id, :language) %><br>
        <%= f.number_field :level %>
      </div>
    <div class="actions">
        <%= f.submit "Create Proficiency" %>
    </div>  

  <%# end %>

    <!-- <div class="field">
      <%#= f.collection_select(:language_id, Language.order('language ASC').uniq, :id, :language) %><br>
      <%#= f.hidden_field :level, value: 1 %>
    </div>
  <div class="actions">
    <%#= f.submit "Create Proficiency" %>
  </div> -->
  
<% end %>
<% end %>
<div>
  <p>You can add more languages that you're learning, after reaching level 10!</p>
</div>

<%#= link_to "Completed", progresses_path(:progress =>{:game_id => @level.game_id.to_i, :level_id => @level.id.to_i} ), :method => :post %>

