

<%#= link_to 'New Meeting', new_meeting_path %>
<h2>Hello <%= current_user.first_name %>. Here are your upcoming meetings.</h2>


<% @past_meetings.each do |past_meeting| %>
    <div class="user-profile">
        <h2><%= @meeting_user.first_name %></h2>
        <p> Meeting:
          <%= past_meeting.meeting_time %>
        </p>
        <%= image_tag(@meeting_user.avatar.url(:thumb)) %>
        <p>
          <button class="btn-profile"><%= link_to "Get Points!", topics_path %></button>
        <p>
    </div> 




<% end %>












<% @meetings.each do |meeting| %>
<div class="user-profile">
  <%= @meeting_user.first_name %>
  <p> Meeting:
    <%= meeting.meeting_time %>
  </p>

  
  <%= image_tag(@meeting_user.avatar.url(:thumb)) %>
  <p>
    <% if meeting.accepted == false %>
      <% if current_user == meeting.requestee %>
        <%= form_for(meeting) do |f| %>
          <div class="field">
            <%= f.hidden_field :accepted, value: true %>
          </div>
          <div class="actions">
            <%= f.submit "Accept" %>
          </div>
        <% end %>
      <% else %>
        Pending Approval
      <% end %>
      <%# elsif Time.current >= meeting.meeting_time %>

          <!-- <p>Passed</p> -->

        <!-- <button class="btn-profile"><%#= link_to "Accept", meetings_path %></button> -->
    <% else %>
      <button class="btn-profile"><%= link_to "Plan Meeting", topics_path %></button>

    <% end %>
          <button><%= link_to 'Cancel Meeting', meeting, method: :delete, data: { confirm: 'Are you sure you want to cancel your meeting?' } %>

  </p>
</div>
<% end %>