<header>
	<%= link_to "Edit profile", edit_user_registration_path %>
	<% link_to "Sign Out", destroy_user_session_path, method: :delete%>

</header>

<h1>Hello <%= @user.first_name %>! I hope you are loving <%= @user.location %> today.</h1>
<div>
	<h6>Here are local language lovers:</h6>
		<% @matches.each do |match| %>
			<div>
				<%= match.language.language %>
				<%= match.level %>
				<%= match.user.first_name rescue nil %>
			</div>
			<%#= match.user.location %>
		<% end %>
</div>
