
<link rel="stylesheet" href="assets/stylesheets/profile.css.scss" />


<div class="profile-container">
	<div class"wrapper">
		<div class="fixed_profile_nav" >
				<% if user_signed_in? %>
					<%= link_to conversations_path, class: "profile_nav_button" do %>
    					<i class="glyphicon glyphicon-comment"></i>
					<% end %>
					
					<%= link_to edit_user_registration_path, class: "profile_nav_button" do %>
    					<i class="glyphicon glyphicon-cog"></i>
					<% end %>
					
					<% if @current_user.approved? %>
						<%= link_to users_path, class: "profile_nav_button" do %>
							<i class="glyphicon glyphicon-certificate"></i>
						<% end %>
					<% end %>
				
					<%= link_to destroy_user_session_path,  class: "profile_nav_button", :method => :delete  do %>
					 	<i class="glyphicon glyphicon-off"></i>
					<% end %>
					<%#= link_to glyph(:"glyphicon-off") destroy_user_session_path method: :delete %>
					<%#= link_to "Sign Out", destroy_user_session_path, class: "btn btn-default btn-lg active", method: :delete%>
				<% else %>
				<% end %>
		</div>
		
	</div>
</div>


<div class="match-profile-container">
	<div class"wrapper">
		<%= render partial: 'test'%>
		<div class="clear"></div>
	</div>
</div>

<!-- <div class="profile-container">
	<div class"wrapper">
		<%#= render partial: 'meetings'%>
		<div class="clear"></div>
	</div>
</div> -->
<!-- <h1>Past meetings:</h1>
 --><!-- <div class="profile-container">
	<div class"wrapper">
		<%#= render partial: 'past_meetings'%>
		<div class="clear"></div>
	</div>
</div> -->

<div class="profile-container">
	<div class"wrapper">
		<%= render partial: 'match'%>
		<div class="clear"></div>
	</div>
</div> 









