


<div class="profile-container">
	<div class"wrapper">

		<div class="profile-picture" >
			<%= image_tag(current_user.avatar.url(:thumb), :width => 200, :height => 300, :crop => :fill, :class=>"img-rounded" ) rescue nil  %>
			</div>
		
		<div class="profile-nav" >
				<% if user_signed_in? %>
				
					<%= link_to 'Your Conversations', conversations_path, class: "btn btn-default btn-lg active" %>
					<%= link_to 'Your Meetings', meetings_path, class: "btn btn-default btn-lg active" %>
					<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default btn-lg active" %><br>
					<%= link_to "Add a Language", new_languages_user_path, class: "btn btn-default btn-lg active" %>
					<% if @current_user.approved? %>
						<%= link_to "Admin", users_path, class: "btn btn-default btn-lg active" %>
					<% end %>

					
					<%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-default btn-lg active", method: :delete%>
				<% else %>
				<% end %>
		</div>
		
	</div>
</div>


<div class="profile-container">
	<div class"wrapper">
		<%= render partial: 'meetings'%>
		<div class="clear"></div>
	</div>
</div>

<div class="profile-container">
	<div class"wrapper">
		<%= render partial: 'match'%>
		<div class="clear"></div>
	</div>
</div>


</div>		







