<!DOCTYPE html>
<html>		
	<head>
	  <title>Language Exchange</title>
	  
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	 <header class="header_banner">
		

		<h1 class="header_logo"> 
		
			<% if user_signed_in? %>
				
				<% if current_user.avatar.url.present? %>

					<%= link_to image_tag(current_user.avatar.url(:thumb)), "/profile/#{current_user.id}/view", class: "user_picture"  %>
			
				<% else %>
					<p> No picture </p>
				<% end %>
			<% else %>
				<%= link_to 'Sign Up', new_user_session_path, class: "btn btn-primary btn-lg pull-left" %>
				<%= link_to 'Sign In', new_user_session_path, class: "btn btn-secondary-outline btn-lg pull-left" %>

			<% end %>
			<%= link_to "Lexody", root_path %>

		</h1>
	</header>


		<body>
			
 				 
				<% if flash[:alert] %>
				
					<div class="wrapper">
				    <p class="flash-error"><%= flash[:alert] %></p>
					</div>
				<% end %>
				
				<% if flash[:notice] %>

					<div class="wrapper">
				    <p class="flash-notice"><%= flash[:notice] %></p>
				 
					</div>
				<% end %>
			
			<!-- <div class="col-md-4" style=""> -->
			
			<!-- <div class="wrapper"> -->

				<%= yield %>
		
		</body>

		<footer>
		<div class="footer">
			<div class="footer_nav">
				<nav>Contact</nav>
				<nav>About</nav>
				<nav>FAQ</nav>
				<nav>Sign Up</nav>
				<p>Created by language lovers, for language lovers.</p>
			</div>
		</div>
			<p>Made by language lovers, for language lovers.</p>
		</div>
		</footer>
</html>
