<!DOCTYPE html>
<html>		
	<head>
	  <title>Language Exchange</title>
	  
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	
	 <header class="header_banner">
		

		<h1 class="header_logo"> 
		
			<% if user_signed_in? %>
				
				<% if current_user.avatar.url.present? %>

					<%= link_to image_tag(current_user.avatar.url, class: "user_picture"), "/profile/#{current_user.id}/view"  %>
			
				<% else %>
					<p> No picture </p>
				<% end %>
			<% else %>
			
					<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary btn-lg pull-left", id: "registration_nav" %>
			
					<%= link_to 'Sign In', new_user_session_path, class: "btn btn-secondary-outline btn-lg pull-left", id: "registration_nav" %>
		
			<% end %>
			
			<%= link_to "Lexody", root_path, class: "logo" %>

		</h1>
	</header>

	</head>
		<body>
			
 				 
				<% if flash[:alert] %>
				
					
				   <h2 class="alert alert-notice"><center><%= flash[:alert] %></center></h2>
					</div>
				<% end %>
				
				<% if flash[:notice] %>

					
				    <h2 class="alert alert-success"><center><%= flash[:notice] %></center></h2>
				 
					
				<% end %>

			<!-- SIDE NAV -->
					<!-- <div class="profile-container">
	<div class"wrapper"> -->
		
				<% if user_signed_in? %>
					<div class="fixed_profile_nav" >
						<%= link_to image_tag("icons/comment"), conversations_path, :class => 'side_nav_icon' %>
						<%= link_to image_tag("icons/gear"), edit_user_registration_path, :class => 'side_nav_icon' %>
							<% if @current_user != nil %>
								<% if @current_user.approved? %>
									<%= link_to image_tag("icons/heart"), users_path, :class => 'side_nav_icon' %>
								<% end %>
							<% end %>
						<%= link_to image_tag("icons/log_out"), destroy_user_session_path, method: :delete, :class => 'side_nav_icon' %>
					</div>
				<% end %>
			
			<!-- <div class="col-md-4" style=""> -->
			
			<!-- <div class="wrapper"> -->

				<%= yield %>
		
		</body>

		<!-- <footer>
		<div class="footer"> -->
			
				<!-- <nav>Contact</nav>
				<nav>About</nav>
				<nav>FAQ</nav>
				<nav>Sign Up</nav> -->
			
		<!-- </div>
			<p>Made by language lovers, for language lovers.</p>
		</div>
		</footer> -->

 <footer class="footer">
            <%=link_to "About", new_user_registration_path, class: "footer_link" %> <br>
            <%=link_to "Contact", new_user_registration_path, class: "footer_link" %> <br>
            <%=link_to "FAQ", new_user_registration_path, class: "footer_link" %> <br>

 </footer>
                
    
</html>